<nav class="navbar">
  <div class="navbar-content">
    <!-- Perfil del usuario -->
    <div class="user-profile gap-5">
      <button class="avatar cursor-pointer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQysVDKJGnwVtbgscEQ4VOgRQx_nzcsCUzKWw&s"
          alt="Marco De Lama">
      </button>
      <div class="user-info">
        <p class="user-name">Marco De Lama</p>
        <p class="user-title">Analista Programador</p>
      </div>
    </div>

    <!-- Menú de navegación -->
    <div class="nav-menu gap-4">
      @for(item of navbarOptions; track item.value) {
      <button class="nav-item" [routerLink]="item.route" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        {{ item.title }}
      </button>
      }
    </div>
  </div>
</nav>