.titulo {
  font-family: 'Starjedi';
  letter-spacing: 3px;
}

.minecraft {
  font-family: 'Minecraft', monospace;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
