<div class="w-full flex justify-center">
    <div class="profile-container">
        <div class="profile-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/David_Beckham_UNICEF_%28cropped%29.jpg/250px-David_Beckham_UNICEF_%28cropped%29.jpg"
                alt="Luz Agurto - Software Developer">
        </div>
        <div class="profile-content">
            <h1 class="title">SofTwaRe develop;X - BuG ext;XminZtor</h1>
            <h2 class="name text-wrap">Marco De Lama</h2>
            <p class="description">
                Soy <span class="highlight">desarrollador/a web</span> especializado/a en [tecnologías
                que dominan, ej. <span class="tech-highlight">Angular</span>, <span
                    class="framework-highlight">React</span>], <span class="framework-highlight">Node.js</span>, con
                experiencia
                en la creación de aplicaciones rápidas, escalables y
                centradas en la experiencia del usuario. Me apasiona
                transformar ideas en productos funcionales y atractivos,
                cuidando tanto el código como el diseño.
                He trabajado en <span class="highlight">[proyectos relevantes o áreas, ej. e-commerce, dashboards de
                    datos,
                    aplicaciones móviles]</span>,
                donde he aprendido a combinar creatividad, buenas
                prácticas y metodologías ágiles para entregar soluciones
                eficientes.
            </p>
        </div>
    </div>
</div>