/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.ttf') format('truetype');
}

@font-face {
    font-family: 'Starjedi';
    src: url('/fonts/Starjedi.ttf') format('truetype');
}

@font-face {
    font-family: 'Starjhol';
    src: url('/fonts/Starjhol.ttf') format('truetype');

}

@font-face {
    font-family: 'KodeMono';
    src: url('/fonts/KodeMono.ttf') format('truetype');
}

.minecraft-font {
  font-family: 'Minecraft', 'Roboto';
}

.bg-primary {
    background-color: #1E1E1E;
}